<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Preferences</title>
</head>
<body>
    <h2>User Preferences</h2>

    {% if preferences %}
        <ul>
            {% for preference in preferences %}
                <img src="{{ url_for('static', filename='uploads/' +  preference.profile_picture) }}" alt="Profile Picture" class="w-20 h-20 object-cover mb-4 rounded-md">

                <li>User ID: {{ preference.user_id }}, Index: {{ preference.index }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No preferences available.</p>
    {% endif %}
</body>
</html>
